body.background {
    background-image: url(gustavo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#A1{
    background: rgba(255, 255, 255, 0.199);
}